@model IEnumerable<Website_Project_Address.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
